theme:
  background-color: 50 1 6
  primary-color: 24 97 58
  negative-color: 209 88 54

pages:
  - name: Home
    hide-desktop-navigation: true

    columns:
      - size: small
        widgets:
          - type: clock
            hour-format: 12h
            timezones:
              - timezone: Europe/Madrid
                label: Spain
              - timezone: America/Santiago
                label: Chile
              - timezone: America/Argentina/Buenos_Aires
                label: Argentina

          - type: bookmarks
            groups:
              - title: Utilities
                color: 10 70 50
                links:
                  - title: Mail
                    url: https://mail.tutanota.com/
                  - title: Drive
                    url: https://drive.proton.me/
                  - title: 2FA
                    url: https://auth.ente.io/
              - title: Tools
                links:
                  - title: Chatbot
                    url: https://duck.ai/
              - title: Entertainment
                color: 200 50 50
                links:
                  - title: Streams
                    url: https://www.twitch.tv/
                  - title: Videos
                    url: https://www.youtube.com/
                  - title: Music
                    url: https://music.youtube.com/

          # - type: calendar
          #   first-day-of-week: monday

          # - type: weather
          #   location: Barranquilla, Colombia
          #   units: metric
          #   hour-format: 12h

          - type: twitch-channels
            channels:
              - moonlightdelia
              - ilutvlive
              - orchlon
              - rebeccare
              - baitybait
              - bawkbasoup
              - punchy

      - size: full
        widgets:
          - type: group
            widgets:
              - type: docker-containers
                title: Odin
                hide-by-default: true
              - type: docker-containers
                title: Freya
                hide-by-default: true
                # TODO: Find a way to communicate to Freya
                sock-path: /dev/null

          - type: hacker-news

          - type: videos
            style: grid-cards
            collapse-after-rows: 2
            channels:
              - UC7YOGHUfC1Tb6E4pudI9STA # Mental Outlaw
              - UCMiyV_Ib77XLpzHPQH_q0qQ # Veronica Explains
              - UC9eM3jqq5IfxbGHbuRR_jRw # Sfdx Show
              - UCo4k7uMo-JgnNaP3TbKT2Zw # RaySnakeyes
              - UCuk-vTs6rUGCkSGK3cj1Q7Q # Ink Ribbon
              - UCx-PpwbajI5ToAY0WwJO2Kg # PortalRunner
              - UCkZmSQCcTOvcgD_G7m1nnsQ # Heaven's Night
              - UCoe9JNwWfmVj69LVsUuwqWA # Lecctron
              - UCyK9YF-p9891QfOvrzLNUag # Retro Renew
              - UCsnGwSIHyoYN0kiINAGUKxg # Wolfgang
              - UCVls1GmFKf6WlTraIb_IaJg # DistroTube
              - UC9XiDskTaRkMPyBAk2m65vA # Silent Archives

      - size: small
        widgets:
          - type: server-stats
            servers:
              - type: local
                name: Odin

          - type: dns-stats
            service: adguard
            url: ${DNS_PANEL_URL}
            username: ${DNS_PANEL_USERNAME}
            password: ${DNS_PANEL_PASSWORD}

          - $include: custom_widgets/tailscale.yml
          
          - $include: custom_widgets/wud-odin.yml

