theme:
  background-color: 50 1 6
  primary-color: 24 97 58
  negative-color: 209 88 54

pages:
  - name: Home
    hide-desktop-navigation: true

    columns:
      - size: small
        widgets:
          - type: clock
            hour-format: 12h
            timezones:
              - timezone: Europe/Madrid
                label: Spain
              - timezone: America/Santiago
                label: Chile
                
          - type: bookmarks
            groups:
              - title: Utilities
                color: 10 70 50
                links:
                  - title: Mail
                    url: https://mail.tutanota.com/
                  - title: Drive
                    url: https://drive.proton.me/
                  - title: 2FA
                    url: https://auth.ente.io/
              - title: Tools
                links:
                  - title: Chatbot
                    url: https://duck.ai/
              - title: Entertainment
                color: 200 50 50
                links:
                  - title: Streams
                    url: https://www.twitch.tv/
                  - title: Videos
                    url: https://www.youtube.com/
                  - title: Music
                    url: https://music.youtube.com/

          # - type: calendar
          #   first-day-of-week: monday

          # - type: weather
          #   location: Barranquilla, Colombia
          #   units: metric
          #   hour-format: 12h

          - type: twitch-channels
            channels:
              - moonlightdelia
              - ilutvlive
              - orchlon
              - rebeccare
              - baitybait
              - bawkbasoup
              - punchy

      - size: full
        widgets:
          - type: group
            widgets:
              - type: docker-containers
                title: Odin
                hide-by-default: true
              - type: docker-containers
                title: Freya
                hide-by-default: true
                # TODO: Find a way to communicate to Freya
                sock-path: /dev/null

          - type: hacker-news

          - type: videos
            style: grid-cards
            collapse-after-rows: 2
            channels:
              - UC7YOGHUfC1Tb6E4pudI9STA # Mental Outlaw
              - UCMiyV_Ib77XLpzHPQH_q0qQ # Veronica Explains
              - UC9eM3jqq5IfxbGHbuRR_jRw # Sfdx Show
              - UCo4k7uMo-JgnNaP3TbKT2Zw # RaySnakeyes
              - UCuk-vTs6rUGCkSGK3cj1Q7Q # Ink Ribbon
              - UCx-PpwbajI5ToAY0WwJO2Kg # PortalRunner
              - UCkZmSQCcTOvcgD_G7m1nnsQ # Heaven's Night
              - UCoe9JNwWfmVj69LVsUuwqWA # Lecctron
              - UCyK9YF-p9891QfOvrzLNUag # Retro Renew
              - UCsnGwSIHyoYN0kiINAGUKxg # Wolfgang
              - UCVls1GmFKf6WlTraIb_IaJg # DistroTube
              - UC9XiDskTaRkMPyBAk2m65vA # Silent Archives

      - size: small
        widgets:
          - type: server-stats
            servers:
              - type: local
                name: Odin

          - type: dns-stats
            service: adguard
            url: ${DNS_PANEL_URL}
            username: ${DNS_PANEL_USERNAME}
            password: ${DNS_PANEL_PASSWORD}
          
          - type: custom-api
            title: Tailscale Devices
            title-url: https://login.tailscale.com/admin/machines
            url: https://api.tailscale.com/api/v2/tailnet/-/devices
            headers:
              Authorization: Bearer ${TS_APIKEY}
            cache: 10m
            options:
              # collapseAfter: 4
              # disableOfflineIndicator: true
              # disableUpdateIndicator: true
              # prioritiseTags: true
            template: |
              <style>
                .device-info-container-tailscale {
                  position: relative;
                  overflow: hidden;
                  height: 1.5em;
                }
          
                .device-info-tailscale {
                  display: flex;
                  transition: transform 0.2s ease, opacity 0.2s ease;
                }
          
                .device-ip-tailscale {
                  position: absolute;
                  top: 0;
                  left: 0;
                  transform: translateY(-100%);
                  opacity: 0;
                  transition: transform 0.2s ease, opacity 0.2s ease;
                }
          
                .device-info-container-tailscale:hover .device-info-tailscale {
                  transform: translateY(100%);
                  opacity: 0;
                }
          
                .device-info-container-tailscale:hover .device-ip-tailscale {
                  transform: translateY(0);
                  opacity: 1;
                }
          
                .update-indicator-tailscale {
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  background-color: var(--color-primary);
                  display: inline-block;
                  margin-left: 4px;
                  vertical-align: middle;
                }
          
                .offline-indicator-tailscale {
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  background-color: var(--color-negative);
                  display: inline-block;
                  margin-left: 4px;
                  vertical-align: middle;
                }
          
                .device-name-container-tailscale {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                }
          
                .indicators-container-tailscale {
                  display: flex;
                  align-items: center;
                  gap: 4px;
                }
              </style>
              <ul class="list list-gap-10 collapsible-container" data-collapse-after="{{ .Options.IntOr "collapseAfter" 3 }}">
                {{ range .JSON.Array "devices" }}
                <li>
                  <div class="flex items-center gap-10">
                    <div class="device-name-container-tailscale grow">
                      <span class="size-h4 block text-truncate color-primary">
                        {{ findMatch "^([^.]+)" (.String "name") }}
                      </span>
                      <div class="indicators-container-tailscale">
                        {{ if and (not ($.Options.BoolOr "disableUpdateIndicator" false)) (.Bool "updateAvailable") }}
                        <span class="update-indicator-tailscale" data-popover-type="text" data-popover-text="Update Available"></span>
                        {{ end }}
          
                        {{ if not ($.Options.BoolOr "disableOfflineIndicator" false) }}
                        {{ $lastSeen := .String "lastSeen" | parseTime "rfc3339" }}
                        {{ if not ($lastSeen.After (offsetNow "-10s")) }}
                        {{ $lastSeenTimezoned := $lastSeen.In now.Location }}
                        <span class="offline-indicator-tailscale" data-popover-type="text"
                          data-popover-text="Offline - Last seen {{ $lastSeenTimezoned.Format " Jan 2 3:04pm" }}"></span>
                        {{ end }}
                        {{ end }}
          
                      </div>
                    </div>
                  </div>
                  <div class="device-info-container-tailscale">
                    <ul class="list-horizontal-text device-info-tailscale">
                      <li>{{ .String "os" }}</li>
                      <li>
                        {{ if and ($.Options.BoolOr "prioritiseTags" false) (.Exists "tags.0") }}
                          {{ trimPrefix "tag:" (.String "tags.0") }}
                        {{ else }}
                          {{ .String "user" }}
                        {{ end }}
                      </li>
                    </ul>
                    <div class="device-ip-tailscale">
                      {{ .String "addresses.0"}}
                    </div>
                  </div>
                </li>
                {{ end }}
              </ul>
