title: Dashboard

categories:
  - name: VPS
    services:
      - name: VPN
        url: https://login.tailscale.com/admin/machines
        icon: tailscale
        description: Connectivity

      - name: Proxy (Odin)
        url: https://proxy.odin.{{host.domain}}
        icon: nginxproxymanager
        description: Proxy & port forwarding

  
      - name: Proxy (Freya)
        url: https://proxy.freya.{{host.domain}}
        icon: nginxproxymanager
        description: Proxy & port forwarding

  - name: Cinema
    services:
      - name: TV
        url: https://tv.freya.{{host.domain}}
        icon: jellyfin
        description: Watch

      - name: Sonarr
        url: https://sonarr.freya.{{host.domain}}
        icon: sonarr
        description: Shows indexer

      - name: Radarr
        url: https://radarr.freya.{{host.domain}}
        icon: radarr
        description: Movies indexer

      - name: Prowlarr
        url: https://prowlarr.freya.{{host.domain}}
        icon: cloudflare
        description: Sources indexer
        
      - name: Torrents
        url: https://torrents.freya.{{host.domain}}
        icon: qbittorrent
        description: Torrents manager

  - name: Library
    services:
      - name: Books
        url: https://books.freya.{{host.domain}}
        icon: calibreweb
        description: Read

      - name: Shelfmark
        url: https://get-books.freya.{{host.domain}}
        icon: bookstack
        description: Download books

  - name: Tools
    services:
      - name: DNS
        url: https://dns.odin.{{host.domain}}
        icon: adguard
        description: Internal domain routing

      - name: Bookmarks
        url: https://bookmarks.odin.{{host.domain}}
        icon: karakeep
        description: Save links

      - name: PDF
        url: https://pdf.odin.{{host.domain}}
        icon: bento
        description: Edit PDFs

      - name: Git
        url: https://git.{{host.domain}}
        icon: gitea
        description: Git repositories