services:
  vpn:
    # Ports used: 53, 80, 81, 443
    container_name: vpn
    image: tailscale/tailscale:latest
    hostname: freya
    restart: unless-stopped
    labels:
      glance.name: Tailscale
      glance.icon: sh:tailscale-light
      glance.description: VPN
      glance.hide: false
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - ./tailscale/state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    healthcheck:
      test: ["CMD-SHELL", "tailscale status --self"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

  proxy:
    # Ports used: see `vpn` service
    container_name: proxy
    image: "jc21/nginx-proxy-manager:latest"
    restart: unless-stopped
    labels:
      glance.name: Proxy
      glance.icon: sh:nginx-proxy-manager-light
      glance.url: ${PROXY_PANEL_URL}
      glance.description: Proxy & port forwarding
      glance.hide: false
    environment:
      - TZ=${TZ}
    volumes:
      - ./proxy/data:/data
      - ./proxy/letsencrypt:/etc/letsencrypt
    network_mode: service:vpn
    healthcheck:
      test: ["CMD", "/usr/bin/check-health"]
      interval: 10s
      timeout: 3s
    depends_on:
      vpn:
        condition: service_healthy

  torrents-ui:
    # Ports used: 7476
    container_name: torrents-ui
    image: ghcr.io/hotio/qui
    restart: unless-stopped
    labels:
      glance.name: Torrents
      glance.icon: sh:qbittorrent-light
      glance.url: ${TORRENTS_PANEL_URL}
      glance.description: Torrents manager
      glance.hide: false
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - ./torrents-ui/config:/config
    depends_on:
      proxy:
        condition: service_healthy
      cinema-torrents:
        condition: service_started

  glance-agent:
    # Ports used: 27973
    container_name: glance-agent
    image: glanceapp/agent
    restart: unless-stopped
    environment:
      - TOKEN=${GLANCE_AGENT_TOKEN}
    volumes:
      - /media/library:/storage/library:ro
      - /media/cinema:/storage/cinema:ro

  socket-proxy:
    # This image is used to expose the docker socket as read-only
    # Ports used: 2375
    container_name: socket-proxy
    image: "11notes/socket-proxy:2.1.6"
    restart: unless-stopped
    read_only: true
    user: "0:989"
    volumes:
      - "/run/docker.sock:/run/docker.sock:ro"
      - "socket-proxy.run:/run/proxy"

  #########################
  #     L I B R A R Y     #
  #########################

  books:
    # Ports used: 8083
    container_name: books
    image: crocodilestick/calibre-web-automated:latest
    restart: unless-stopped
    labels:
      glance.name: Books
      glance.icon: sh:calibre-web-light
      glance.url: ${BOOKS_PANEL_URL}
      glance.description: Read
      glance.hide: false
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      #- HARDCOVER_TOKEN=${BOOKS_HARDCOVER_TOKEN}
    volumes:
      - ./library/books/config:/config
      # Ingest directory
      - /media/library/books/ingest:/cwa-book-ingest
      # Actual library
      - /media/library/books/library:/calibre-library
      # Future plugins
      #- /path/to/your/calibre/plugins/folder:/config/.config/calibre/plugins

  books-downloader:
    # Ports used: 8084
    image: ghcr.io/calibrain/calibre-web-automated-book-downloader:latest
    container_name: books-downloader
    restart: unless-stopped
    labels:
      glance.name: Books downloader
      glance.icon: mdi:book-plus-multiple
      glance.url: ${BOOKS_DOWNLOADER_PANEL_URL}
      glance.description: Download books
      glance.hide: false
    environment:
      TZ: ${TZ}
    volumes:
      - ./library/books-downloader/config:/config # Configuration files and database
      # Ingest directory
      - /media/library/books/ingest:/cwa-book-ingest
      # Download client volume - required for Prowlarr/torrent/usenet integration
      # - /mnt/storage/downloads:/data/torrents

  #######################
  #     C I N E M A     #
  #######################

  cinema-torrents:
    # Ports used: 8080
    container_name: cinema-torrents
    image: ghcr.io/hotio/qbittorrent
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=${TZ}
      - WEBUI_PORTS=8080/tcp,8080/udp
      - LIBTORRENT=v1
    volumes:
      - ./cinema/torrents/config:/config
      - /media/cinema/torrents:/data/torrents

  prowlarr:
    # Ports used: 9696
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr
    restart: unless-stopped
    labels:
      glance.name: Prowlarr
      glance.icon: sh:prowlarr-light
      glance.url: ${PROWLARR_PANEL_URL}
      glance.description: Indexer
      glance.hide: false
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - ./cinema/prowlarr/config:/config

  sonarr:
    # Ports used: 8989
    container_name: sonarr
    image: ghcr.io/hotio/sonarr
    restart: unless-stopped
    labels:
      glance.name: Sonarr
      glance.icon: sh:sonarr-light
      glance.url: ${SONARR_PANEL_URL}
      glance.description: Shows
      glance.hide: false
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - ./cinema/sonarr/config:/config
      - /media/cinema:/data

  radarr:
    # Ports used: 7878
    container_name: radarr
    image: ghcr.io/hotio/radarr
    restart: unless-stopped
    labels:
      glance.name: Radarr
      glance.icon: sh:radarr-light
      glance.url: ${RADARR_PANEL_URL}
      glance.description: Movies
      glance.hide: false
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - ./cinema/radarr/config:/config
      - /media/cinema:/data

  tv:
    # Ports used: 8096
    container_name: tv
    image: ghcr.io/hotio/jellyfin
    restart: unless-stopped
    labels:
      glance.name: TV
      glance.icon: sh:jellyfin-light
      glance.url: ${TV_PANEL_URL}
      glance.description: Watch
      glance.hide: false
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=${TZ}
    # Hardware acceleration
    group_add:
      - "992" # 'render' group
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    volumes:
      - ./cinema/tv/config:/config
      - /media/cinema/tv:/data/tv

volumes:
  socket-proxy.run:
