- name: Get latest fastfetch release info
  ansible.builtin.uri:
    url: https://api.github.com/repos/fastfetch-cli/fastfetch/releases/latest
    method: GET
    return_content: true
  register: fastfetch_release_info

- name: Set fastfetch_version fact
  ansible.builtin.set_fact:
    fastfetch_version: "{{ fastfetch_release_info.json.tag_name }}"

# - name: Download latest fastfetch .deb package
#   ansible.builtin.get_url:
#     url: "https://github.com/fastfetch-cli/fastfetch/releases/download/{{ fastfetch_version }}/fastfetch-linux-amd64.deb"
#     dest: /tmp/fastfetch-linux-amd64.deb
#     mode: "0644"
#     checksum: "sha256:{{ fastfetch_release_info.json.assets | selectattr('name', 'equalto', 'fastfetch-linux-amd64.deb') | map(attribute='browser_download_url') | first }}"

- name: Install fastfetch .deb package
  ansible.builtin.apt:
    deb: "https://github.com/fastfetch-cli/fastfetch/releases/download/{{ fastfetch_version }}/fastfetch-linux-amd64.deb"
    state: present
